<%-  include("includes/help.ejs") %>
<body>
    <details style="background-color: red;">
        <summary>WEB DEVELOPMENT COURSE</summary>
        <p>HTML , CSS , JAVASCRIPT</p>
        <p>NODEJS , EXPRESS.JS , MONGODB , SQL</p>
        <p>REACT.JS , REDUX , REDUX TOOLKIT</p>
    </details>


    <p style="background-color: cadetblue;">Hi my name is <%= "VAIBHAV GOEL" %></p>
    <p style="background-color: pink;">Hi my name is <%= name %></p>

<script src="/app.js"></script>
</body>
</html>